.navbar {
    background-color: white;
    height: 80px;
    padding: 10px;
    
}

.logo {
    height: 60px;
    float: left;
}

.navbar-links {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    overflow: hidden;
    display: flex;   
    justify-content: flex-end; 
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #BD9561;
    color: white;
}

/* Colours
#BCCCCD - dusky blue 
#283442 - dark blue paragraphs
#32586D - blue whale - accent
#BD9561 - dune - accent */