.property-card_wrapper {
    margin: 20px 50px 50px 50px;
    padding: .625rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.property-card_items {
    margin: 20px;
    padding: 10px;
    width: fit-content;
    max-width: fit-content;
    height: 28.125rem;
    max-height: 28.125rem;
    text-align: center;
    flex: 0 1 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.property-card_items:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.property-card_image {
    margin-bottom: 20px;
    background-image: url("/Users/cc/Projects/front-end/surreal-estate/src/assets/home-image1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 45%;
}

.property-card_title {
    font-family: 'Merriweather', serif;
    font-size: 25px;
    color: #BD9561;
}

.property-card_icon-house, .property-card_icon-building, .property-card_icon-toilet, .property-card_icon-bed{
    padding: 0px 5px 0px 0px;
}


.property-card_type-city, .property-card_bathrooms-bedrooms {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.type, .city, .bathrooms, .bedrooms {
    padding: 10px;
}

.button_type-3 {
    margin: 10px 10px 20px 10px;
    background-color: #BD9561;
    color: white;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    width: 300px;
    border: 2px solid #BD9561;
}

.button_type-3:hover {
    border: 2px solid #BD9561;
    background-color: white;
    color: #BD9561;
}