.side-bar_wrapper {
    margin: 20px 0px;
    height: 80px;
    width: 100vw;
    border: #BD9561 2px solid;
    /* background-color: #BD9561; */
}

.side-bar_items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.side-bar_item {
padding: 20px;
}

.side-bar_link {
    text-decoration: none;
    font-size: 25px;
}
