@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&family=Playfair+Display:wght@400;500;600;700&family=Raleway:wght@400;500;600;800;900&family=Roboto:wght@100;400&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  font-family: 'Playfair Display', serif;
  font-family: 'Playfair Display SC', serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color: #283442;
}

h1, h2, h3, h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

h5, h6 {
  font-family: 'Raleway', sans-serif;
}

a {
  font-family: 'Raleway', sans-serif;
  color: #32586D;
}


/* Colours
#BCCCCD - dusky blue 
#283442 - dark blue paragraphs
#32586D - blue whale - accent
#BD9561 - dune - accent */