@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&family=Raleway:wght@100;200;300;400&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  margin: 0;
  padding: 0;
  color: #1E1C1D;
  background-color: whitesmoke;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
  font-weight: 200;
}

h1 {
  color: #BD9561;
  font-size: 25px;
}

a {
  color: #BD9561;
}


/* Colours
#BCCCCD - dusky blue 
#283442 - dark blue paragraphs
#32586D - blue whale - accent
#BD9561 - dune - accent */

/* Colours I'm using
#BD9561 - dune - accent
#1E1C1D - dark brown - body
#FFFFFF - white - bg */
